<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">

    <title></title>
  </head>
  <body>
    <h1>POKEMON</h1>
    <ul class='pokemon' style>
       <% for (let i=0; i<pokemon.length; i++) {%>
       <a href="/index/<%= i %>">
            <li>
               <%= pokemon[i].name %>
           </li>
       </a>
       <% } %>

   </ul>


  </body>
</html>
