<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
  </head>
  <body>
    <h1>Pokemon</h1>
    <%=pokemon.name%>
    <img src='<%=pokemon.img%>'>
  </body>
</html>
